header {background: #AB82FF}
.collapse-menu {background: #fff; min-height: 100px;padding: 3.5% 2% 0 0;}
.img-blog{z-index: 1; width: 100%; position: relative; height: 350px;}
.row {margin: -1.5% 0 0 0;}
.social {width: 15%;}
.container-center{width: 68%; float: left;}
.form-search .form-group .form-control {margin: 3% 0%;}
.colunistas {margin: 2% 0; float: left;}
.colunistas a {width: 100%; text-decoration: none; float: left;}
.colunistas a img{width: 15%; margin: 2%;}
p{margin: 1.5% auto; text-align: justify; }
.container aside{float: right; width: 25%;}
.content {width: 72%; float: left;}
.content h1{font-size: 100px; color: #000; }
.content input{width: 70%;}
.content textarea{width: 70%; height: 100px;}
.content button{width: 70%;}
.content-bottom {float: left; margin: 3% 0 2% 0; }
footer{background: #428bca;}



.inicio {border: 1px solid #f5f5f5; color: #fff;}
.comecar {background: green; color: #fff; }

.img-container img{width: 120%;float: left; margin: -2% -4.5% 0% -10.5%}
.img-responsive {border-radius: 100%; background: #000}


header .navbar1 {background: #000; border: none; padding: 1% 1.5% 1% 1%;}
.container .login{
    float: left;
    width: 40%;
    margin: 8% 30% 14.7% 30%;
    padding: 2%;
    border: 1.5px solid #f3f3f3;

}



.container .cadastro{
    float: left;
    width: 40%;
    margin: 4% 30% 7% 30%;
    padding: 2%;
    border: 1.5px solid #f3f3f3;
    display: none;
}

.container .login a{
    text-decoration: none;
    float: right;
    color: blue;
}
.container .cadastro a{
    text-decoration: none;
    float: right;
    color: blue;
}            
.container input{

    margin: 4% 0%;
}

footer {

}

.menu-left{
    float: left; 
    width: 20%;
    border: 1px solid #f3f3f3; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 0 2% 0%;
}
.content-center{
    float: left;
    border: 1px solid #f3f3f3;
    width: 58%;
    border-radius: 10px;
    margin: 0 1% 2% 1%;
}




.content-center .form-group .form-control{margin: 0% 0 2% 0;}
textarea{
    height: 150px;
}
.content-right .btn{
    width: 100%;
}
