                .inicio {border: 1px solid #f5f5f5; color: #fff;}
                    .comecar {background: green; color: #fff; }
                    
                    .img-container img{width: 109%;float: left; margin: -2% -4.5% 0% -4.5%}
                    .img-responsive {border-radius: 100%; background: #000}


                     header .navbar1 {background: #000; border: none; padding: 1% 1.5% 1% 1%;}
            .container .login{
                float: left;
                width: 40%;
                margin: 5% 30% 13% 30%;
                padding: 2%;
                border: 1.5px solid #f3f3f3;
                
            }

            .container .cadastro{
                float: left;
                width: 40%;
                margin: 3% 30% 5% 30%;
                padding: 2%;
                border: 1.5px solid #f3f3f3;
                display: none;
            }

            .container .login a{
                text-decoration: none;
                float: right;
                color: blue;
            }
            .container .cadastro a{
                text-decoration: none;
                float: right;
                color: blue;
            }            
            .container input{
                width: 100%;
                margin: 4% 0%;
            }

            footer {

            }